<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% comment %} if not loged in: {% endcomment %}
    {% if new_user_details == None %}
    <h1>Welcome to the Garderning App<h1>
    <button> <a style= "text-decoration: underline 0px;" href= "../signup/"> Login </a> </button>

    {% block  %}
    {% comment %} home page default contents {% endcomment %}
    {% endblock  %}
    {% else %}
    <h1>Welcome to the Garderning App, {{ new_user_details }}</h1>
    {% endif %}
</body>
</html>